.contacts_container{
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.button_wrapper {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.button_wrapper > button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: transparent;
  border: 0px;
  font-size: 40px;
}